* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}

header {
    background-color: #2056ac;
    padding: 1.5em;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#engrenage {
    font-size: 1.5em;
    color: #fff;
}

h1 {
    font-size: 1.5em;
    margin-top: 0.2em;
    color: #fff;
    font-family: Questrial;
    font-weight: bold;
}

ul {
    margin-top: 1em;
    text-align: center;
    list-style: none;
}

li {
    color: #fff;
}

li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

li a{
    text-decoration: none;
    color: inherit;
    font-family: Questrial;
    width: 100%;
    display: inline-block;
}

li:hover {
    background-color: #fff;
    color: #2056ac;
}

.selected {
    background-color: #fff;
    color: #2056ac;
}

main {
    text-align: center;
    font-size: 16px;
}

main section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

main img {
    width: 90%;
    margin-top: 1em;
}

main h2, h3, h4{
    margin: 2em 0 1em 0;
    font-family: Questrial;
    font-weight: bold;
}

main p {
    margin-bottom: 0.5em;
}

main em {
    color: rgb(69, 69, 69);
    font-weight: bold;
    font-style: normal;
}

main button {
    color: #fff;
    background-color: #64ABD1;
    padding: 1em 1.5em;
    border: none;
}
#secondeSection {
    border-top: 0.1em solid rgba(133, 133, 133, 0.89);
    border-bottom: 0.1em solid rgb(69, 69, 69);
    padding-bottom: 1em;
}

main section article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    background-color: #e3f0f7;
    margin: 1em 0 0 0;
    color: #5b6063;
}
#contact i {
    padding: 0.5em;
    font-size: 2.5em;
}

footer {
    text-align: center;
    background-color: #2056ac;
}

footer em {
    color: #fff;
    font-style: normal;
}

footer p {
    padding: 2em 0.9em;
    color: #d9d9d9;
}

footer i {
    display: inline-block;
    padding: 1em;
    background-color: #64abd1;
    color: #fff;
}

#fb {
    padding: 1em 1.15em;
}

#tumblr {
    padding: 1em 1.15em;
}

@media(min-width:899px) {

    header {
        padding: 2em 0 0 0;
        font-size: 14px;
    }

    h1 {
        font-size: 56px;
        margin-bottom: 1em;
    }

    #engrenage {
        margin-top: 1em;
        font-size: 50px;
    }

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        display: inline-block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 1em;
    }

    li:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    a {
        width: none;
    }

    main img {
        margin-top: 4em;
    }

    main h2 {
        font-size: 45px;
    }

    main {
        color: rgb(69, 69, 69);
    }

    #premiersection {
        margin-bottom: 70px;
    }

    h3 {
    margin-top: 70px;
    }

    main section:not(#premiersection){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main section:not(#contact) {
        width: 90%;
    }

    #secondeSection {
        justify-content: space-around;
    }
    #secondeSection article {
        width: 28%;
    }

    #troisiemeSection article {
        width: 20%;
    }

    button {
     margin: 50px 0;

    }

    h4 {
    margin-top: 50px;
    }

}

@media(min-width:1300px) {

    main {
        text-align: center;
        margin: auto;
    }

    main img {
        width: 1200px;
    }

    main section:not(#contact) {
        width: 1200px;
    }

}
